:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-white-bcg: #F5F4FA;
    --button-text-color: #FFFFFF;
    --hero-footer-bcg: #2F303A;
    --logo-heder-color: #000;
    --com-footer-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color:var(--button-text-color);
    color: var(--primery-text-color);
    font-family:Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Header */
.page-header {
    background-color: #ccc;
}

/* Logo */
.logo-header {
    color: var(--logo-heder-color):
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.logo-web {
    color: var(--accent-color);
}


/* Nav header */
.nav-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.com-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.link {
    color: var(--title-text-color);
    text-decoration:none;
}
.nav-header .link:hover, 
.nav-header .link:focus {
    color: var(--accent-color);
} 
.com-header .link:hover,
.com-header .link:focus {
    color: var(--accent-color);
}
.link-current {
    color: var(--accent-color);
    text-decoration:none;
}
.com-header .link {
    color: var(--primery-text-color);
} 


/* Hero h1*/
.hero {
    background-color:var(--hero-footer-bcg);
}
.hero-title {
    color:var(--button-text-color) ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.hero .button-hero {
    background-color: var(--accent-color);
    color:var(--button-text-color) ;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Section h2*/
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.link .section-title {
    color:var(--title-text-color) ;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

/* Feature h3, p*/
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
}
.feature-list .text {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.link .text {
    color: var(--primery-text-color);
    font-size: 14px;
    font-size: 16px;
    line-height: 1.88;
}

/* Team h3, p*/
.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Button */
.button {
    display: inline-block;
    padding:6px avto;
    min-width: 73px;
    border-radius: 4px;
    text-align: center;

    background-color: var(--button-primery-bcg);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--button-text-color);
}
/* Footer */
.bcg-footer {
    background-color: var(--hero-footer-bcg);
}
.logo-footer {
    color:var(--button-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.addr-footer {
    color:var(--button-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.com-footer .link {
    color: var(--com-footer-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.com-footer .link:hover,
.com-footer .link:focus {
    color: var(--accent-color);
}